.header {
    background-color: var(--secondary-color, #ff9e9e);
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 20px 0 20px 15vw;
}

.header__menu {
    display: flex;
    column-gap: 4vw;
}

.header__menu__anchor {
    text-decoration: none;
    color: var(--tertiary-color, #c0ead9);
    font-family: var(--primary-font-family);
    font-weight: var(--primary-font-weight, 700);
    font-size: var(--secondary-font-size, 1.4vw);
}

.header__menu__anchor:hover {
    color: var(--hover-color, #F50101);
}

.header__menu__anchor:active {
    color: var(--hover-color, #F50101);
}