@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sacramento&display=swap');

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #ff9e9e;
    --tertiary-color: #c0ead9;
    --hover-color: #F50101;

    --primary-font-weight: 700;
    --secondary-font-weight: 400;

    --primary-font-size: 2.124vw;
    --secondary-font-size: 1.4vw;

    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Sacramento", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-style: normal;
}

.header, .hidden-header, .footer {
    padding: 20px 0;
    font-size: var(--secondary-font-size, 1.4vw);
}

.header, .footer {
    background-color: var(--secondary-color, #ff9e9e);
    font-family: var(--primary-font-family);
}

.header__menu__anchor, .footer__anchor {
    text-decoration: none;
}

.header__menu__anchor:hover,
.footer__anchor:hover,
.header__menu__anchor:active,
.footer__anchor:active  {
    color: var(--hover-color, #F50101);
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    padding-left: 15vw;
}

.header__menu {
    display: flex;
    column-gap: 4vw;
}

.header__menu__anchor {
    color: var(--tertiary-color, #c0ead9);
    font-weight: var(--primary-font-weight, 700);
}

.hidden-header {
    visibility: hidden;
}

.title {
    font-family: var(--primary-font-family);
    font-weight: var(--primary-font-weight, 700);
    font-size: var(--primary-font-size, 2.124vw);
    color: var(--secondary-color, #ff9e9e);
    text-align: center;
}

.home {
    background-color: var(--primary-color, #f5f5f5);
    padding: 50px 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7vw;
}

.home__title {
    width: 30vw;
}

.footer {
    color: var(--primary-color, #f5f5f5);
    font-weight: var(--secondary-font-weight, 400);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
}

.footer__anchor {
    color: var(--primary-color, #f5f5f5);
}